<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <i class="fas fa-shopping-cart mr-2"></i> Vendas
    </a>
  </div>
</nav>

<div class="container mt-5">
  <div class="jumbotron bg-light">
    <h4>Filtros:</h4>
    <div class="row">
      <div class="col-lg-3 mb-3">
        <label for="filter_produto" class="form-label">Selecione um produto</label>
        <select class="form-select" id="filter_produto" [(ngModel)]="filtro.produto_id">
          <option value="null" disabled></option>
          <option *ngFor="let produto of produtos" [ngValue]="produto.id">
            {{ produto.descricao }}
          </option>
        </select>
      </div>
      <div class="col-lg-3 mb-3">
        <label for="filter_cliente" class="form-label">Selecione um cliente</label>
        <select class="form-select" id="filter_cliente" [(ngModel)]="filtro.cliente_id">
          <option value="null" disabled></option>
          <option *ngFor="let cliente of clientes" [ngValue]="cliente.id">
            {{ cliente.nome }}
          </option>
        </select>
      </div>
      <div class="col-lg-6 mt-3">
        <label for="filter_periodo" class="form-label">Período de venda:</label>
        <div class="row">
          <div class="col-lg-6">
            <label for="filter_periodo_de" class="form-label">Maior ou igual:</label>
            <input type="date" class="form-control" [(ngModel)]="filtro.periodoVenda.maiorIgual" />
          </div>
          <div class="col-lg-6">
            <label for="filter_periodo_ate" class="form-label">Menor ou igual:</label>
            <input type="date" class="form-control" [(ngModel)]="filtro.periodoVenda.menorIgual" />
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-8 offset-lg-2">
        <button type="button" class="btn btn-success" (click)="getVendas()">Filtrar</button>
        <button type="button" class="btn btn-secondary" (click)="limparFiltros()">Limpar Filtros</button>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-8 offset-lg-2">
      <form [formGroup]="vendaForm" (ngSubmit)="createOrUpdateVenda()" class="mb-4">
        <div class="form-group">
          <label for="cliente_id">ID do Cliente</label>
          <select class="form-select" id="filter_cliente" formControlName="cliente_id" required>
            <option value="null" disabled></option>
            <option *ngFor="let cliente of clientes" [ngValue]="cliente.id">
              {{ cliente.nome }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="produto_id">ID do Produto</label>
          <select class="form-control form-select" id="filter_produto" formControlName="produto_id" required
            (change)="calculaValor()">
            <option value="null" disabled></option>
            <option *ngFor="let produto of produtos" [ngValue]="produto.id">
              {{ produto.descricao }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="quantidade">Quantidade</label>
          <input type="number" id="quantidade" name="quantidade" class="form-control" formControlName="quantidade"
            required (change)="calculaValor()" />
        </div>

        <div class="form-group">
          <label for="valor">Valor</label>
          <input type="number" id="valor" name="valor" class="form-control" [(ngModel)]="this.vendaForm.value.valor"
            formControlName="valor" required />
        </div>

        <div class="text-right">
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-save mr-2"></i> Salvar
          </button>
          <button type="button" class="btn btn-warning ml-2" (click)="clearForm()">
            <i class="fas fa-times mr-2"></i> Limpar
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Número Identificador</th>
            <th>ID do Cliente</th>
            <th>ID do Produto</th>
            <th>Quantidade</th>
            <th>Valor</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let venda of vendas">
            <td>{{ venda.id }}</td>
            <td>{{ venda.cliente_id }}</td>
            <td>{{ venda.produto_id }}</td>
            <td>{{ venda.quantidade }}</td>
            <td>{{ venda.valor }}</td>
            <td>
              <button type="button" class="btn btn-secondary btn-sm" (click)="selectVenda(venda)">
                <i class="fas fa-edit"></i>
              </button>
              <button type="button" class="btn btn-danger btn-sm" (click)="deleteVenda(venda.id)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>